.gestion{
    margin-left: 20%;
}
.modal{
    margin-top: 3%;

}
.annuler{
    background-color: red;
}
.form{
    padding-left:  2px;
}
.ajouter{
    background-color:darkgreen;
}
    .Container{
        margin-left: 20%;
    }
    .divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}